* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-family: '나눔고딕';
}

#nav {
    background-color: #91be64;
}

.top_nav {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 20px 0px;
}

.gnb {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.gnb li a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: white;
    padding: 40px;
}

#container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.list {
    width: 250px; 
}

.list h2 {
    font-size: 25px;
    padding: 20px 0px;
}

.lnb {
    list-style: none;
    border-top: 3px solid rgb(0, 34, 0);
}

.lnb li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
}


.lnb li a:hover {
    color: white;
    background-color: #91be64;
    background-image: url(../images/lnb_bg.png); 
    background-repeat: no-repeat;
    background-position: center right 20px;
}

.main-container {
    width: 800px;
}

.main-container h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.photo {
    width: 400px;
}

.experience {
    width: 380px;
}

.experience h2 {
    color: #91be64;
    margin-bottom: 30px;
    line-height: 35px;
}

.experience ul {
    padding-left: 25px;
}

.experience p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.introduce-video {
    text-align: center;
    align-items: center;
}

.introduce-video h1 {
    margin-bottom: 20px;
}

#footer {
    border-top: 2px solid #91be64;
    padding: 0 0 30px 0;
}

.foot {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.foot li a{
    display: block;
    padding: 30px 10px;
    text-decoration: none;
    color: black;
}

.foot p {
    text-align: right;
    padding: 30px 0;
}

