* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: black;
}

.lnb {
    margin-top: 50px;
    width: 200px;
    border-top: 1px solid black;
}

.lnb li a {
    background-color: skyblue;
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid #000;
}

.lnb li a:hover {
    background-color: yellow;
    color: red;
}