@charset "utf-8";
*{margin:0; padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
body{
	font-family: '맑은 고딕', cursive;
	font-size:14px;
	line-height:22px;
	color:#000;
}
#header{
	width:1200px;
	height:1000px;
	margin:auto;
	background:pink;
	}
#section{
	width:1200px;
	overflow:hidden;
	margin:auto;
	text-align:center;	
}
.contents{
	height:100px;
	padding:100px 0;
}
.contents1{
	background:url(../images/coffee_title.png) no-repeat top 84px right;
}
.contents2{
	background:url(../images/dessert_title.png) no-repeat top 84px left;
}

