.kizland {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    box-sizing: border-box;
}

.explanation {
    background-color: rgb(247, 247, 247);
    padding: 25px;
}

.explanation h2 {
    font-weight: inherit;
    font-size: 20px;

}

p {
    padding-top: 15px;
    color: rgb(158, 158, 158);
}

