* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: #000;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

nav ul {
    display: flex;
    position: relative;
    width: 500px;
    margin: 0 auto;
}

nav ul li {
    flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
}

nav ul>span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background: pink;
    opacity: 0;
    transition: all 1s;
}

nav ul li:nth-child(1).on~span {
    left: 0;
    opacity: 1;
}

nav ul li:nth-child(2).on~span {
    left: 100px;
    opacity: 1;
}

nav ul li:nth-child(3).on~span {
    left: 200px;
    opacity: 1;
}

nav ul li:nth-child(4).on~span {
    left: 300px;
    opacity: 1;
}

nav ul li:nth-child(5).on~span {
    left: 400px;
    opacity: 1;
}