@font-face {
    font-family: 'YOnepickTTF-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YOnepickTTF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffdaf1;
    font-family: 'YOnepickTTF-Bold';
    font-size: 12px;
    line-height: 20px;
}

#container {
    background-color: white;
    width: 600px;
    padding: 30px 30px 10px 30px;
    margin: 100px auto;
    border: 5px double rgba(255, 86, 227, 0.829);
}

h1 {
    color: rgb(255, 0, 242);
    margin: 20px 0px 30px;
}

p { 
    background-color: #ffdaf1;
    border-top: 3px solid rgba(255, 86, 227, 0.829);
    color: rgb(255, 74, 246);
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    padding-left: 30px;
    margin-bottom: 30px;
}

.stewed_burdock {
    margin-bottom: 30px;
}

h2 {
    color: rgb(255, 0, 242);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 86, 227, 0.829);
}

table {
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(255, 0, 242);
}

.material {
    color: rgb(255, 76, 225);
}

.ingredient {
    padding: 5px;
    background-color: rgb(255, 231, 254);
}

ol {
    padding-left: 30px;
}