@font-face {
    font-family: 'YoonChildfundkoreaManSeh';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'YoonChildfundkoreaManSeh';
    font-size: 12px;
    line-height: 1.5em;
}

#container {
    width: 600px;
    padding: 30px;
    margin: 100px auto;
    border: 2px solid black;
}

h1 {
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

p {
    color: red;
    margin-bottom: 20px;
}

ul {
    padding-left: 30px;
}

.stewed_burdock {
    margin-top: 23px;
}

h2 {
    margin-bottom: 10px;
}

table {
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

.material {
    background-color: gray;
    color: white;
}

ol {
    padding-left: 30px;
}