/* 여백초기화 */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
#wrap{
    width: 1200px;
    margin: 50px auto;
    background-color: yellow;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li{
    width: 380px;
    padding: 30px;
    height: 500px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

ul li:nth-child(1){
    background-image: url(../images/intro1_bg.png);
}
ul li:nth-child(2){
    background-image: url(../images/intro2_bg.png);
    margin: 0 30px;
}
ul li:nth-child(3){
    background-image: url(../images/intro3_bg.png);
}
h2{
    margin-bottom: 20px;
}
