/* 여백초기화 */
*{
    margin: 0;
    padding: 0;
}
/* 블릿없애기 */
ul,ol{
    list-style: none;
}
/* 링크설정 */
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #111111;
}
#slide{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#slide ul li{
    position: absolute;
    top: 0;
    left: 0;
}
#slide img{
    display: block;
}