* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

#nav {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(111, 144, 216);
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.gnb {
    display: flex;
    margin-top: 30px;
}

.gnb li a {
    display: block;
    margin-right: 50px;
    font-weight: 30px;
}

.gnb li a:hover {
    color: rgb(255, 1, 98);
    font-weight: bold;
    cursor: wait;
}