* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-image: url(/250528_02_css_background-practice/images/bg2.jpg);
    font-size: 14px;
    font-family: "휴먼둥근체";
    line-height: 24px;
    color: white;
}

#container {
    width: 300px;
    margin: 50px auto;
}

ul li {
    padding: 30px;
    width: 300px;
    height: 180px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right 30px bottom 30px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 38px;
}

h2 {
    margin-bottom: 20px;
}


ul li:nth-child(1) {
    background-color: rgb(204, 112, 112);
    background-image: url(/250528_02_css_background-practice/images/main_ico1.png);
}

ul li:nth-child(2) {
    color: rgb(102, 51, 9);
    background-color: rgb(209, 176, 68);
    background-image: url(/250528_02_css_background-practice/images/main_ico2.png);
}

ul li:nth-child(3) {
    background-color: rgb(146, 144, 144);
    background-image: url(/250528_02_css_background-practice/images/main_ico3.png);
}

ul li:nth-child(4) {
    background-color: rgb(72, 156, 156);
    background-image: url(/250528_02_css_background-practice/images/main_ico4.png);
}