/* 여백초기화 */
* {
    margin: 0;
    padding: 0;
}

/* 블릿없애기 */
ul,
ol {
    list-style: none;
}

/* 링크설정 */
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #111111;
}

/* 공통꾸미기 */
/* section1 */
#section1 {
    width: 1000px;
    margin: 0 auto;
}

#section1 ul {
    display: flex;
    flex-wrap: wrap;
}

#section1 ul li {
    flex: 1 1 auto;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; */
    /* width: 33.333%; */
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
}

#section1 ul li:nth-child(1) {
    background-color: #d42f2f;
}

#section1 ul li:nth-child(2) {
    background-color: #6a5c5c;
}

#section1 ul li:nth-child(3) {
    background-color: #23b3b0;
}

/* section2 */
#section2 {
    background-color: #eee;
    margin: 50px 0;
    padding-top: 30px;
}

#section2 ul {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section2 ul li {
    width: 23%;
    background-color: #fff;
    margin-bottom: 30px;
}

.menu_img img {
    width: 100%;
    display: block;
}

#section2 ul li strong {
    text-align: center;
    display: block;
    padding-bottom: 20px;
}

/* section3 */
#section3 {
    width: 1000px;
    margin: 0 auto;
    background-color: yellow;
}

#section3 ul {
    display: flex;
    flex-wrap: wrap;
}

#section3 ul li {
    width: 50%;
    /* flex: 1 1 0; */
    color: #fff;
    padding: 20px 30px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
}

#section3 ul li:nth-child(1) {
    background-color: #2c4d77;
    background-image: url(../images/bg_store.jpg);
}

#section3 ul li:nth-child(2) {
    background-color: #2f3653;
    background-image: url(../images/bg_franchise.jpg);
}

/* tablet 디자인 */
@media (max-width:1000px) {
    #section1 {
        width: 100%;
    }

    #section2 ul {
        width: 90%;
    }

    #section2 ul li {
        width: 48%;
    }

    #section2 ul li strong {
        font-size: clamp(16px, 2.3vw, 40px);
    }

    #section3 {
        width: 100%;
    }
}

/* mobile 디자인 */
@media (max-width:600px) {
    #section1 ul li {
        /* width: 100%; */
        flex: 1 1 100%;
    }

    #section2 ul li {
        width: 100%;
    }

    #section2 ul li strong {
        font-size: clamp(14px, 4vw, 40px);
    }

    #section3 ul li {
        width: 100%;
        /* flex: 1 1 100%; */
    }
}