* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#wrap {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.product {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.product li {
    width: 33.3%;
}

.cover_wrap {
    overflow: hidden;
    height: 210px;
}

.img-wrap {
    height: 210px;
    overflow: hidden
}

.img-wrap img{
    width: 100%;
    display: block;
}

.cover {
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 210px;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s;
}

.cover_wrap:hover .cover{
    cursor: pointer;
    opacity: 1;
    transform: translateY(-210px);
    transition: all 1s;
}