h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right top, rgb(211, 201, 201), #ff0000d8);
    color: transparent;
    -webkit-background-clip: text;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(104, 23, 23);
}

b{
    font-style: oblique;
    color: rgb(177, 23, 23);
}

a {
    color: blue;
}