* {
    margin: 0;
    padding: 0;
}

@keyframes img {
    0% {
        background-image: url(../images/main1.jpg);
    }

    25% {
        background-image: url(../images/main2.jpg);
    }

    50% {
        background-image: url(../images/main3.jpg);
    }

    75% {
        background-image: url(../images/main4.jpg);
    }

    100% {
        background-image: url(../images/main1.jpg);
    }
}

div {
    height: 679px;
    background-image: url(../images/main1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation: img 5s infinite;
}