@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Shilla_CultureB-Bold';;
    padding: 0;
    margin: 0;
}

h1, p{
    background: linear-gradient(to right top, rgb(236, 231, 231), black);    
}

h1 {
    color: rgb(32, 31, 30);
    text-align: center;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 5px dashed whitesmoke;
}

p {
    font-size: 16px;
    padding: 30px;
    margin: 50px;
    width: 500px;
    height: 150px;

}

.plural {
    color: rgb(121, 20, 20);
}

.police {
    color: rgb(215, 214, 224);
}

.start {
    color: rgb(199, 181, 15);
}
